@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family:  "Nunito", sans-serif;

    transition: color 0.1s ease, background-color 0.1s ease;
}


/* CORES */

body {
    --cor-fundo-1: #181818;
    --cor-fundo-2: #211E24;
    --cor-fundo-transparente: #0003;
    --cor-fundo-footer: #080808;
    --cor-texto-1: #ffffff;
    --cor-texto-2: #D9D3DA;
    --cor-roxo-1: #B04FE9;
    --cor-roxo-2: #673AB7;
    --cor-roxo-3: #512DA8;

}

body.light-mode {
    --cor-fundo-1: #D9D3DA;
    --cor-fundo-2: #fff;
    --cor-fundo-transparente: #aaa3;
    --cor-fundo-footer: #cccccc;
    --cor-texto-1: #181818;
    --cor-texto-2: #211E24;
    --cor-roxo-1: #B04FE9;
    --cor-roxo-2: #673AB7;
    --cor-roxo-3: #512DA8;
}

/* RESTO */

main {
    background-color: var(--cor-fundo-1);
    color: var(--cor-texto-1);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: calc(100vw - 4rem);
    backdrop-filter: blur(4px);
    background-color: var(--cor-fundo-transparente);
    display: flex;
    padding: 1rem 2rem 1rem 2rem;
    
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    z-index: 999;

}
.container{
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
}
header .CheckboxDiv{
    display: flex;
}
.logo{
    font-weight: 800;
    font-size: 22px;
    text-decoration: none;
    color: var(--cor-texto-2);
}
.roxo{
    color: var(--cor-roxo-1);
}


#checkbox{
    justify-content: flex-end;
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

#switch{visibility: hidden;}
label{
    cursor: pointer;
    text-indent: -2000px;
    width: 400px;
    height: 2000px;
    background: var(--cor-roxo-1);
    border-radius: 200px;
    position: relative;
}
label:after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 25px;
    height: 25px;
    background: var(--cor-fundo-1);
    border-radius: 90px;
    transition: 0.4s;
}
input:checked + label{
    background: var(--cor-roxo-1);
}
input:checked + label:after{
    left: calc(100% - 5px);
    transform: translateX(-100%);
}
.toggler{
    display: block;
    width: 60px;
    height: 31px;
    border: 2px solid var(--cor-roxo-1);
    border-radius: 30px;
    position: relative;
    cursor: pointer;
}


.container.profile {

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly !important;
    align-items: center;
    margin-top: 5rem;

    background-color: var(--cor-fundo-1);
    border-radius: 10px;
    text-align: center;
}

.profile-image {
    max-width: 50vmin;
    overflow: visible;
}

.profile-image img {
    width: 100%;
    height: 100%;
}
.profile-text {
    text-align: left;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    gap: 1rem;
    margin-top: 20px;
}

.button {
    background-color: var(--cor-roxo-2);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--cor-roxo-3);
}

.container.sobre-mim {
    background-color: var(--cor-fundo-1);
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.code {
    font-family: 'Courier New', Courier, monospace;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.container.projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-bottom: 3rem;
}

.projetoImagens {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
    padding-top: 3rem;
}
 
.projetoCapa img {
    height: 100%;
}
.projetoCapa {
    width: 50vmin;
    overflow: visible;
    border-radius: 1rem; 
    transition: transform 0.3s ease, width .7s ease, filter .7s ease;
    width: 15rem;
    height: 30rem;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: left;
    justify-content: end;
    gap: 1rem;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    color: #ffffff; /* imagem de fundo né */
}
.projetoCapa:hover {
    width: 20rem; 
}
@media (width <= 800px) {
    .projetoCapa{
        width: 80vmin;
    }
}
.projetoCapa:hover {
    /* transform: scale(1.1); */
    filter: brightness(0.8);
}
.projetoCapa > .githubLink {
    padding: .5rem;
    transition: background-color .3s ease;
    background-color: var(--cor-fundo-2);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projetoCapa > .githubLink:hover {
    background-color: var(--cor-fundo-1);
}
.projetoCapa > .githubLink > img {
    height: 2rem;
}


/* 
FOOTER
*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color: var(--cor-texto-1);
    background-color: var(--cor-fundo-footer);
}
footer > a.logo {
    margin: 1rem;
    text-decoration: none !important;
    gap: 0 !important;
}
footer > a {
    color: var(--cor-texto-1);
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 1.5rem;
    padding: 1rem;
    gap: 1rem;
}
footer > a:hover {
    text-decoration: underline;
}
footer > a > img {
    height: 1.5rem;
}